
<form action="/action_page.php">
    <div class="form-group">
      <label for="nom">Nom:</label>
      <input type="text" [(ngModel)]="produit.nom" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Nom Produit" id="nom">
    </div>
    <div class="form-group">
        <label for="prix">Prix:</label>
        <input type="text" [(ngModel)]="produit.prix" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Prix Produit" id="prix">
      </div>
      <div class="form-group">
        <label for="referance">Réferance:</label>
        <input type="text" [(ngModel)]="produit.ref" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Réferance Produit" id="referance">
      </div>
      <div class="form-group">
        <label for="couleur">Couleur:</label>
        <input type="text" class="form-control" [(ngModel)]="produit.couleur" [ngModelOptions]="{standalone: true}" placeholder="Couleur Produit" id="couleur">
      </div>
      <div class="form-group">
        <label for="quantité">Quantité:</label>
        <input type="text" class="form-control" [(ngModel)]="produit.qte" [ngModelOptions]="{standalone: true}" placeholder="Quantité Produit" id="quantité">
      </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" class="form-control" [(ngModel)]="produit.description" [ngModelOptions]="{standalone: true}" placeholder="Description Produit" id="description">
    </div>
    <div class="form-group">
      <label for="description">Marque:</label>
      <select class="form-control" [(ngModel)]="produit.marqueId" [ngModelOptions]="{standalone: true}" id="description">
        <option *ngFor ="let m of marque" value="{{m.id}}">{{m.nom}}</option>
        </select>
    </div>
    
    <button type="submit" (click) =" create()"class="btn btn-primary">Submit</button>
  </form>
